.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #53c8e9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
}
.submit-form {
    max-width: 300px;
    margin: auto;
}
.edit-form {
    max-width: 300px;
    margin: auto;
}

.sidebar1 {
    height: 35%;
    width: 25%;
    position: absolute;
    float: right;
    right: 10px;
    background-color: #DFDDDD;
    padding-right: 5%;
    margin-left: -500px;
}

.sidebarAddMessage {
    margin-top: 300px;
    height: auto;
    width: 20%;
    position: absolute;
    background-color: #DFDDDD;
    border: #49b6d4;
    border-color: aqua;
    border-style: solid;
}

.sidebar2 {
    height: 35%;
    width: 25%;
    position: absolute;
    float: right;
    right: 10px;
    background-color: #DFDDDD;
    padding-right: 5%;
    margin-left: -500px;
    margin-top: 15%;
}

.sidebar3 {
    height: 100%;
    width: 25%;
    position: absolute;
    float: right;
    right: 10px;
    background-color: #DFDDDD;
    padding-right: 5%;
    margin-left: -500px;
    margin-top: 30%;
}

.main-item {
    height: 100%;
    width: 68%;
    position: absolute;
    float: left;
    left: auto;
}
